
<div class="panel panel-default p-1">
    <div class="panel-heading">
        <h4>Featured</h4>
    </div>
    <br>
    <h6>Math + Science</h6>
    <ul class="list-group">
		{% for post in posts %}
			{% if post.category == 'mathsci' and post.featured %}
		      <li class="list-group-item"><a href="blog/{{ post.post_url }}">{{ post.post_title }}</a></li>
			{% endif %}
		{% endfor %}        
    </ul>

    <br>
    <h6>Tech + Code</h6>
    <ul class="list-group">
		{% for post in posts %}
			{% if post.category == 'eng' and post.featured %}
		      <li class="list-group-item"><a href="blog/{{ post.post_url }}">{{ post.post_title }}</a></li>
			{% endif %}
		{% endfor %}        
    </ul>

    <br>
    <h6>Art + Lit</h6>
    <ul class="list-group">
		{% for post in posts %}
			{% if post.category == 'artlit' and post.featured %}
		      <li class="list-group-item"><a href="blog/{{ post.post_url }}">{{ post.post_title }}</a></li>
			{% endif %}
		{% endfor %}        
    </ul>
    <br>
    <h6>Philosophy</h6>
    <ul class="list-group">
		{% for post in posts %}
			{% if post.category == 'phil' and post.featured%}
		      <li class="list-group-item"><a href="blog/{{ post.post_url }}">{{ post.post_title }}</a></li>
			{% endif %}
		{% endfor %}        
    </ul>
</div>