{% extends "mybase.html" %}

{% block _content %}
	<h1>About Me</h1>
	<p>I'm currently an Electrical Engineering student at New Mexico Tech in Socorro, NM. I enjoy writing about tech, philosphy, science and art, even though I don't know much of anything.</p>
	<p> We are rapidly approaching... something. No one knows what it is or what it'll be like.  It's probably not even expressible in human language. The purpose of this blog is to give it a shot anyway </p>
	<br>
	<p>I also write poetry about how weird we are on <a href='https://www.instagram.com/trilussa2.0/'>instagram</a></p>
	<p>Please send your harshest critisism to: adriansalustri at gmail dot com
{% endblock %}