{% extends "base.html" %}

{% block content %}
    <h1>Edit Post</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.post_title.label }}<br>
            {{ form.post_title(size=100) }}<br>
            {% for error in form.post_title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.post_content.label }}<br>
            {{ form.post_content(cols="100", rows="50") }}<br>
            {% for error in form.post_content.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}